* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    main {

        width: 100%;
        background: linear-gradient(to top, rgb(239, 239, 241)50%, rgba(239, 239, 241)50%), url(1.jpg);
        background-position: center;
        background-size: cover;
        height: 109vh;
    }

    .navbar {

        width: 1200px;
        height: 75px;
        margin: auto;

    }

    .icon {
        width: 200px;
        float: left;
        height: 70px;

    }

    .logo {
        color: black;
        font-size: 35px;
        font-family: Arial;
        padding-left: 20px;
        float: left;
        padding-top: 10px;
    }

    .menu {

        width: 400px;
        float: left;
        height: 70px;

    }

    ul {

        float: left;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    ul li {
        list-style: none;
        margin-left: 62px;
        margin-top: 27px;
        font-size: 14px;
    }

    ul li a {

        text-decoration: none;
        color: black;
        font-family: arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;

    }

    ul li a:hover {

        color: blue;



    }


    .content {
        width: 100%;
        height: auto;
        /* margin: auto; */
        margin-top: 100px;
        color: black;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
    }

    .content .par {

        padding-left: 20px;
        padding-bottom: 25px;
        font-family: arial;
        letter-spacing: 1.2px;
        line-height: 30px;


    }

    .content h1 {

        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;

    }

    .cn {

        width: 160px;
        height: 40px;
        background: rgb(3, 3, 3);
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
    }

    .cn a {

        text-decoration: none;
        color: white;

    }

    .heroimg {
        height: 400px;
    }

    .greybox
    {
        height: 200px;
        width: 400px;
        margin-bottom: 50px;
        margin-top: 50px;
        background-color: rgba(245, 245, 245, 1);
        border-radius: 30px;
        box-shadow: 2px 2px 2px #000000;
        padding: 20px;
        display: flex;
        gap: 20px;
    }

    .first{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .second img{
        width: 200px;
    }

    .third img{
        width: 150px;
    }

    .third{
        width: 100%;
        height: 200px;
        /* background-color: red; */
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70PX;
    }





    .link{
        display: flex;
        justify-content: start;
    }

    .highlitedtext{
        background-color: rgba(173, 255, 47, 1);
        padding: 10px;
        border-radius: 10px;

    }
        ul li a {

            text-decoration: none;
            color: black;
            font-family: arial;
            font-weight: bold;
            transition: 0.4s ease-in-out;
    
        }
        
    .greybox
    {
        height: 200px;
        width: 400px;
        margin-bottom: 50px;
        margin-top: 50px;
        background-color: rgb(216, 216, 216);
        border-radius: 30px;
        box-shadow: 2px 2px 2px #000000;
        padding: 20px;
        display: flex;
        gap: 20px;
    }

    .blackbox{

background-color: #000000;


    }

 
.middlesec{
margin: 0 auto;
width: 1200px;
display: flex;
justify-content: center;
gap: 20px;
}
    .cardbox{

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 20px; */
        flex-wrap: wrap;
        padding-left:300px ;
        padding-right: 300px;

    }
.bottomsec{
    margin:50px auto;
    width: 1200px;
    padding: 60px;
    border-radius: 20px;
    height: 500px;
    background-color: rgb(209, 209, 209);
    box-shadow: 2px 2px 3px #949393;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right img{

    width: 100%;


}
.leftsec{
height: 100%;
width: 50%;
display: flex;
flex-direction: column;
justify-content:space-around;



}
.leftsec button{

padding: 10px;
border-radius: 10px;
background-color: #000000;
color: white;
outline: none;
border: none;

}
.leftsec button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.sec2{
    width: 600px;
    align-items: center;
    margin-bottom: 50px;
}

 